/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 90%;
  background:url(../Women.jpg) no-repeat center center fixed;
    background-repeat:no-repeat;
	background-size:100% 100%;
}

.jumbotron { 
	text-align: center; 
	padding-bottom: 30%;
	background-image: url('Women.jpg') no-repeat center center fixed;
    background-repeat:no-repeat;
    background-color: rgba(238, 238, 238, 0.24);
}

#startButton { 
	position: relative;
	left:45%;
}

#backButton {
	line-height: 1.0;
}

#container {
	opacity: 1.0;
}

